* {
    font-family: cursive;
    
}

.nav {
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    margin-left: 50px; 
}

.nav-title {
    margin-left: 30px;
    font-weight: lighter;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 49px;
}

.nav1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.columna1 {
    display:flex;
    flex-direction: column;
    flex: 1;
    
    max-width: fit-content;
}

.columna2 {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    flex: 1;
    
}

.sidebox {
    margin-left: 30px;
    border: 3px solid;
    padding: 0px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    max-height: 270px;
    min-height: 270px;
    min-width: 150px;
    max-width: 150px;
    justify-content: space-around;
    align-items: center;
}

#avatarpic {
    height: 80px;
    width: 80px;
}

.ligth {
    font-weight: lighter;
}


.main {
    border: 3px solid;
    margin-bottom: 10px;
    margin-left: 30px;
    display: flex;
    max-height: 200px;
    max-width: 450px;
    flex-direction: column;
}

.mainup {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.name {
    font-weight: lighter;
    margin-left: 30px;
}

.likesection {
    display: flex;
    align-items: center;
}

.maindown {
    flex: 2;
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-right: 30px;
    padding-left: 60px;
}


.likes, .likes2, .likes3 {
    margin-right: 30px;
    margin-left: 30px;
    background-color: khaki;
    box-shadow: 3px 3px;
    font-size: medium;
    min-width: 60px;
    min-height: 25px;
    border: 3px solid;
}
